<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h2>Cars for sale:</h2>
<table th:border="1" style="width:400px">
    <thead>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${car}">
        <td th:text="${car.getBrand()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getPrice()}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>